footer{
    background-color: #091622;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    margin-top: 100px;
}
footer h3{
    font-weight: 300;
    color: #5b6670;

}
footer h4{
    position: absolute;
    bottom: 3px;
    font-size: 12px;
    font-weight: 200;
    color: #5b6670;
}

