main#main-article{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: 80%;
    margin: 50px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

main article{
    text-align: justify;
}
main article p{
    margin: 10px 0;
} 
/* nova implementação */
.article-author{
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    margin-top: 30px;
}
.name-user{
    color: #0019fd;
    font-weight: 500;
}
.box-author-name{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.box-author-name p{
    margin: 0;
}
/* fim da nova implementação */
@media (min-width: 768px){
    main#main-article{
        grid-template-columns: 1fr 3fr 2fr;
    }
    .date-publi{
        display: block;
    }
    .box-date-publi{
        display: flex;
        gap: 5px;
    }
    .line-date{
        align-self: center;
        width: 80%;
        height: 10px;
        margin-right: 2px;
        border: 2px solid #b4b0b0;
        border-left: none;
        border-bottom: none;
        border-radius: 0 7px 0 0;
        
    }
    article.primeiro{
        margin-top: 20px;
    }
}

