main#main-article{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: 80%;
    margin: 50px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

main article{
    text-align: justify;
}
main article p{
    margin: 10px 0;
} 

@media (min-width: 768px){
    main#main-article{
        grid-template-columns: 1fr 3fr 1fr;
    }
    .date-publi{
        display: block;
    }
    .box-date-publi{
        display: flex;
        gap: 5px;
    }
    .line-date{
        align-self: center;
        width: 80%;
        height: 10px;
        margin-right: 2px;
        border: 2px solid #b4b0b0;
        border-left: none;
        border-bottom: none;
        border-radius: 0 7px 0 0;
        
    }
    article.primeiro{
        margin-top: 20px;
    }
}

